html,
body {
	color: #fff;
	margin: 0;
	padding: 0;
}

.app {
	background-image: url(hellosapala.png);
	background-position-x: 100%;
	background-size: cover;
	height: 100vh;
}
.title-sapala {
	margin-top: 150px;
}

@media (min-width: 576px) {
	.app {
		background-image: url(hellosapala.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 100vh;
	}
	.title-sapala {
		margin-top: 200px;
	}
}
@media (min-width: 475px) {
	.app {
		background-image: url(hellosapala.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 100vh;
	}
	.title-sapala {
		margin-top: 200px;
	}
}
