.wrapper {
    background-image: url(./Sapala1.jpeg);
    height: 75vh;
    color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-img-top {
    width: 50px;
    display: block;
    margin: 0 auto;
}
.card1 {
    padding: 30px;
}
.card {
    padding: 30px;
    background-color: #5ED3B6;
}
.card-title {
    text-align: center;
}
.card-text {
    text-align: center;
}